input[type=text] {
    height: 40px;
    font-family: 'Heebo';
    padding: 0px 10px;
}

input.block {
    display: block;
    width: 100%;
}

.positive {
    color: green;
}

.negative {
    color: red;
}
