ul.rh-listview {
    list-style-type: none;

    padding: 0px;

    border: #e0e0e0 solid 1px;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px 0px #0000001a;
}

ul.rh-listview > li {
    padding: 16px;
    background-color: #f3f3f3;

    border-bottom: #e0e0e0 solid 1px;
}

ul.rh-listview > li:last-of-type {
    border-bottom: none;
}

ul.rh-listview > li .footnote {
    font-style: italic;
}

ul.rh-listview > li .date {
    color: #d31a1a;
}